#a{
    border: 2px solid black;
    margin: 25px 40px;
}
#b{
    border: 2px solid black;
    margin: 25px 40px;

}
#c{
    border: 2px solid black;
    margin: 25px 40px;
}
#d{
    border: 2px solid black;
    margin: 25px 40px;
}
